<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <app-logo/>

    <span class="toolbar-spacer"></span>

    <a class="toolbar-btn" href="#home" mat-button routerLink="/home">
      Home
    </a>

    <a class="toolbar-btn" href="#about" mat-button routerLink="/about">
      <span>About</span>
    </a>

    <a class="toolbar-btn" href="#contact" mat-button routerLink="/contact">
      <span>Contact</span>
    </a>

    <a class="toolbar-btn" mat-button routerLink="/login">
      <span>Register</span>
    </a>

    <a class="toolbar-btn" mat-button routerLink="/register">
      <span>Login</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
