.toolbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(8, 9, 15, 1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid #ffffff0f;
}

.toolbar-spacer {
  flex: 1 1 auto;
}


a span {
  margin-bottom: 10px;
  height: 24px;
  text-align: center;
}
